/* Устанавливаю основной шрифт и цвет фона страницы */

body {
    font-family: url("src/JetBrains_Mono/JetBrainsMono-Bold.ttf");
    text-align: center;
    padding: 0;
    background-color: #575d85;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота экрана */
    margin: 0;
    z-index: 1;
}


/* Настраиваю шапку */
header {
    z-index: 1;
    background-color: #747896;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1, p {
    margin: 1px;
}

/* Контейнер для центрирования заголовка и иконок */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Отступы между элементами */
    position: relative;
}

/* Стили для иконок */
.social-icons {
    position: relative;
    display: flex;
    align-items: center;
    top: 20px;
}

.social-icons img {
    width: 48px;
    height: 48px;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Настраиваю блок с проектами */

main h3 {
    font-weight: 500;
    text-align: center;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 1px;
    color: #747896;
    z-index: 1;
}

.project h3 {
    margin: 0;
    text-align: unset;
}

.project a {
    font-size: 20px;
    position: relative;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.aproject:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: gray; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.aproject:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: gray; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
     
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project {
    position: relative;
    opacity: 0; /* Скрываем изначально */
    animation: slideUp 1s ease-out forwards;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--bg-image);
    background-size: 100%;
    background-position: center 5%;
    color: #757FC0;
    border: solid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;

}

.project:hover {
    transform: translateY(-10px) scale(20); /* Поднимаем на 10px */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); /* Добавляем тень */
}

/* Настраиваю "подвал" сайта */
footer {
    margin-top: auto;
    padding: 15px;
    background-color:#747896;
    color: white;
    z-index: 1;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Modal Content */
.modal-content {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 10px;
    position: relative;
}

/* Close Button */
.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal animation classes */
.modal.show {
    opacity: 1;
}
