@font-face {
    font-family: "JetBrains Mono";
    src: url("JetBrains_Mono/JetBrainsMono-Light.ttf");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
    text-align: center;
	margin-bottom: 130px;
}


.info {
    font-family: "JetBrains Mono";
    font-size: 20px;
    color: white;
	margin: auto;
    padding: 20px;
    width: 1100px;
    border-radius: 20px;
    background-color: #747896;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
}

.button_back {
	display: inline-block;	
	box-sizing: border-box;
	outline: none;
	border: 1px solid #575d85;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 20px;
	font-weight: 600;
    width: 200px;
	text-decoration: none;
	color: white;
    font-family: "JetBrains Mono";
	background-color: #575d85;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button_back:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.button_back:hover {
    transform: translateY(-1px) scale(1); /* Поднимаем на 10px */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}
.button_back:active {
	background-color: #808080;
}

footer {
    margin-top: auto; /* Фиксируем footer внизу */
    padding: 15px;
    background-color: #747896;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}